@charset "utf-8";

html, body { margin: 0; padding: 0; border: 0; background: #FFFFFF; font-size: 12px; font-family: "Verdana,Arial,Helvetica,sans-serif"; font-weight: normal; }
body { display: block; width: 100%; height: 100%; background: none repeat scroll 0 0 transparent; }

.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt50 { padding-top: 50px; }
.pt80 { padding-top: 80px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pr10 { padding-right: 10px; }

.w260 { width: 260px; }
.h260 { height: 260px; }