@charset "utf-8";

/* calendar 日历 */
.ui-calendar { position: relative; width:120px; height:140px; margin: 0 auto; border: 1px solid #232425; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background: #FFFFFF; text-align: center; }
