@charset "utf-8";

html, body { margin: 0; padding: 0; border: 0; background: #222; font-size: 12px; font-family: "Verdana,Arial,Helvetica,sans-serif"; font-weight: normal; }
body { display: block; width: 100%; height: 100%; background: none repeat scroll 0 0 transparent; }

.ui-desktop { position: static; overflow: hidden; color: #333333; width: 100%; height: 100%; }
/* 桌面壁纸 */
.ui-desktop .ui-desktop-wallpaper { z-index: -9999; position: absolute; left: 0; top: 0; overflow: hidden; height: 100%; width: 100%; }
.ui-desktop .ui-desktop-wallpaper img { }

/* 任务栏 */
.ui-desktop .ui-desktop-taskbar { position: absolute; bottom: 0; background: url("img/bg_taskbar.png") 0 0 repeat-x #333; border-top: 1px solid #FFF; width: 100%; height: 30px; line-height: 30px; z-index: -9999; opacity: 0.8; }
.ui-desktop .ui-desktop-taskbar .ui-desktop-taskbar-tool { float: right; }
.ui-desktop .ui-desktop-taskbar .ui-desktop-taskbar-tool .ui-desktop-taskbar-tool-item { margin: 0 10px 0 0; }

/* 系统工具 */
.ui-desktop .ui-desktop-tool-clock { display: inline-block; text-align:right; color: #FFFFFF; cursor: default; }
.ui-desktop .ui-desktop-tool-volume { width: 22px; height: 22px; background: url('img/bg_icons_gather.png') no-repeat; margin:auto 0; display:inline-block; vertical-align:middle; }
.ui-desktop .ui-desktop-tool-volume-mute { background-position: 0 -19px; }
.ui-desktop .ui-desktop-tool-showdesktop { width: 22px; height: 22px; background: url('img/bg_icons_gather.png') 0 -50px no-repeat; margin: 0 6px; display:inline-block; vertical-align:middle; }
.ui-desktop .ui-desktop-tool-showdesktop:hover { background-position: -2px -80px; }

/* 开始菜单 */
.ui-desktop .ui-desktop-startMenubar { float: left; cursor: pointer; }
.ui-desktop .ui-desktop-startMenubar .ui-desktop-startMenubar-button { display: inline-block; color: #FFFFFF; font-size: 13px; font-weight: bold; background: url('img/bg_icons_gather.png') 0 -491px no-repeat; text-align: right; min-width: 80px; border-right:1px solid #000; border-radius:0 14px 14px 0; padding-right:10px; }
.ui-desktop .ui-desktop-startMenubar .ui-desktop-startMenubar-button:hover { background-position: 0 -528px; }

/* 侧边栏 */
.ui-desktop .ui-desktop-sidebar { position: absolute; width: 200px; right: 0; top: 0; bottom: 31px; opacity: 0.8; }
.ui-desktop .ui-desktop-sidebar-hover { }

/* widget */
.ui-desktop .ui-desktop-widget { position: relative; margin: 10px; }
.ui-desktop .ui-desktop-widget:hover { }
.ui-desktop .ui-desktop-widget .ui-desktop-widget-toollist { float: right; color: #FFFFFF; }
.ui-desktop .ui-desktop-widget .ui-desktop-widget-toollist:hover { }
.ui-desktop .ui-desktop-widget .ui-desktop-widget-remove, .ui-desktop .ui-desktop-widget .ui-desktop-widget-setup { width: 20px; height: 20px; background: url("img/bg_icons_gather.png") no-repeat scroll; cursor: pointer; margin: 2px; }
.ui-desktop .ui-desktop-widget .ui-desktop-widget-remove { background-position: -4px -114px; }
.ui-desktop .ui-desktop-widget .ui-desktop-widget-remove:hover { background-position: -4px -132px; }
.ui-desktop .ui-desktop-widget .ui-desktop-widget-setup { background-position: -26px -110px; }
.ui-desktop .ui-desktop-widget .ui-desktop-widget-setup:hover { background-position: -26px -132px; }